<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>{% block title %}{% end %} - {{SITENAME}}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<title>后台管理-后台管理</title>

		<link rel="stylesheet" href="{{ static_url("css/pintuer.css") }}">
		<link rel="stylesheet" href="{{ static_url("css/admin.css") }}">
		<script src="{{ static_url("js/jquery.js") }}"></script>
		<script src="{{ static_url("js/pintuer.js") }}"></script>
		<script src="{{ static_url("js/respond.js") }}"></script>
		<script src="{{ static_url("js/admin.js") }}"></script>
		<link type="image/x-icon" href="{{ static_url("images/favicon.ico")}}" rel="shortcut icon" />
		<link href="{{ static_url("images/favicon.ico")}}" rel="bookmark icon" />
		<style>
		.demo-nav.fixed.fixed-top{z-index:8;background:#fff;width:100%;padding:0;border-bottom:solid 3px #0a8;-webkit-box-shadow:0 3px 6px rgba(0, 0, 0, .175);box-shadow:0 3px 6px rgba(0, 0, 0, .175);}
		</style>
		{% block css.custom %}{% end %}
		{% block head.css %}{% end %}
		{% block head.js %}{% end %}
	</head>
	<body{% block body_onload %}{% end %}>
		<div class="lefter">
	    <div class="logo"><a href="/" target="_blank"><img src="{{ static_url("images/logo.png")}}" alt="后台管理系统"  style="width:120px;" /></a></div>
		</div>
		{%module ShowMessage()%}
		{% block content %}
		{% end %}
		<div id="line">{%module VisitorTrack()%}</div>
	</body>
</html>