{% extends "admin_base.html" %}

{% block title %}首页{% end %}

{% block body_onload %}{% end %}

{% block content %}
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
              <a class="button button-little bg-main" href="/" target="_blank">前台首页</a>
              <a class="button button-little bg-yellow" href="/agent/logout">注销登录</a>
            </span>


            <ul class="nav nav-inline admin-nav">
                <li class="active"><a href="/agent" class="icon-home"> 开始</a>
                    <ul>
                      <li class="active"><a href="#">开始</a></li>
                      <li><a href="/agent/user">会员管理</a></li>
                    </ul>
                </li>
                <li><a href="/agent/user" class="icon-user"> 会员</a></li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，{{current_user['nickname']}}({{current_user['username']}})，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="/agent" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>

<div class="admin">
  <div class="line-big">
      <div class="xm3">
          <div class="panel border-back">
              <div class="panel-body text-center">
                  <img src="{{ static_url('images/face.jpg')}}" width="120" class="radius-circle" /><br />
                    {{current_user['nickname']}}
                </div>
                <div class="panel-foot bg-back border-back">您好，{{current_user['nickname']}}，这是您第1次登录，上次登录为2014-10-1。</div>
            </div>
            <br />
          <div class="panel">
              <div class="panel-head"><strong>站点统计</strong></div>
                <ul class="list-group">
                  <li><span class="float-right badge bg-red">{{users_total}}</span><span class="icon-user"></span> 会员</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
            <div class="alert">
                <h4>{{SITENAME}}代理商制度介绍</h4>
                <p class="text-gray padding-top">代理商使用一个号码, 可以管理4000个连续的号码, 号段是提前分配好的.
                  <br>如果你需要8000个号码, 你需要重新注册一个号码, 然后再将新号码升级为代理商, 如果需要更多的号码, 同样操作即可.
                  </p>
              <a class="button bg-main icon-user" href="/agent/user"> 查看我的号码</a>
            </div>
        </div>
    </div>
</div>



{% end %}


<div class="container">
  <div class="line">
    <div class="xl12 xs12 xm12 xb12">
      <h2>后台</h2>
      <p>当前共有用户{{users_total}}个.</p>

      <h2>访问记录</h2>
      <ul>
      {% for visit in visits %}
        <li>{{visit.created_at}},{{visit.nickname}},{{visit.path}}</li>
      {% end %}
      </ul>

      {% module Paginator(page, page_size, results_count) %}
    </div>
  </div>

</div>
