{% extends "admin_base.html" %}

{% block title %}首页{% end %}

{% block body_onload %}{% end %}

{% block content %}

<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
              <a class="button button-little bg-main" href="/" target="_blank">前台首页</a>
                <a class="button button-little bg-yellow" href="/agent/logout">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <li><a href="/agent" class="icon-home"> 开始</a>
                    <ul>
                      <li><a href="/agent#">开始</a></li>
                      <li class="active"><a href="#">会员管理</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#" class="icon-user"> 号码</a>
                  <ul>
                    <li class="active"><a href="/agent/user">全部号码</a></li>
                  </ul>
                </li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，{{current_user['nickname']}}({{current_user['username']}})，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="/agent" class="icon-home"> 开始</a></li>
                <li><a href="/agent/user">号码</a></li>
                <li>号码管理</li>
            </ul>
        </div>
    </div>
</div>

<div class="admin">
  <form method="post">
    <div class="panel admin-panel">
      <div class="panel-head"><strong>用户列表</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
        </div>
        <table class="table table-hover">
          <tr>
            <th width="45">选择</th>
            <th width="120">分组</th>
            <th width="100">号码</th>
            <th width="100">初始密码</th>
          </tr>
          {%for user in users%}
            <tr><td><input type="checkbox" name="id" value="{{user.id}}" /></td>
              <td>普通用户</td>
              <td>{{user.account}}</td>
              <td>{{user.init_password}}</td>
              </tr>
          {%end%}
        </table>
        <div class="panel-foot text-center">
          {% module Paginator(page, page_size, results_count) %}
        </div>
    </div>
    </form>
    <br />
</div>
{% end %}
