{% extends "admin_base.html" %}

{% block title %}首页{% end %}

{% block body_onload %}{% end %}

{% block content %}

<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
              <a class="button button-little bg-main" href="/" target="_blank">前台首页</a>
                <a class="button button-little bg-yellow" href="/admin/logout">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <li><a href="/admin" class="icon-home"> 开始</a>
                    <ul><li><a href="/admin/system">系统设置</a></li><li><a href="/admin/thread">内容管理</a></li><li><a href="#">订单管理</a></li><li class="active"><a href="#">会员管理</a></li><li><a href="#">文件管理</a></li><li><a href="#">栏目管理</a></li></ul>
                </li>
                <li><a href="/admin/system" class="icon-cog"> 系统</a>
                  <ul>
                    <li><a href="#">全局设置</a></li>
                    <li><a href="#">系统设置</a></li>
                    <li class="active"><a href="#">会员设置</a></li>
                    <li><a href="#">积分设置</a></li>
                  </ul>
                </li>
                <li class="active"><a href="#" class="icon-user"> 会员</a>
                  <ul>
                  	<li><a href="/admin/user">用户管理</a></li>
                    <li class="active"><a href="/admin/user/add">添加用户</a></li>
                  </ul>
                </li>
                <li><a href="/admin/visit" class="icon-eye"> 访问</a>
                <li><a href="/admin/thread" class="icon-file-text"> 内容</a></li>
                <li><a href="#" class="icon-shopping-cart"> 订单</a></li>
                <li><a href="#" class="icon-file"> 文件</a></li>
                <li><a href="#" class="icon-th-list"> 栏目</a></li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，{{current_user['nickname']}}({{current_user['username']}})，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="admin" class="icon-home"> 开始</a></li>
                <li><a href="/admin/user">用户</a></li>
                <li>用户管理</li>
            </ul>
        </div>
    </div>
</div>

<div class="admin">
    <div class="panel admin-panel">
      <div class="panel-head"><strong>添加用户</strong></div>
		<div class="panel-body">
			<form method="post" autocomplete="off" name="register" id="registerform" class="form-x" enctype="multipart/form-data" onsubmit="checksubmit();return false;" action="/admin/user/add">
                 {% raw xsrf_form_html() %}
                 <input type="hidden" name="referer" value="{{next}}" />
                 <div class="form-group">
                     <div class="label"><tt>*</tt> 登录用户名</div>
                     <div class="field"><input name="username" value="" type="text" id="username" class="input" data-validate="required:用户登录名只能有6-20位字母、数字或者下划线构成"></div>
                 </div>
                 <div class="form-group">
                     <div class="label"><tt>*</tt> 邮件(Email)</div>
                     <div class="field"><input name="email" value="" type="text" id="email" class="input" data-validate="required:用户登录名只能有6-20位字母、数字或者下划线构成"></div>
                 </div>
                 <div class="form-group">
                     <div class="label"><tt>*</tt> 密 码</div>
                     <div class="field"><input name="password1" id="password1" type="password" class="input" data-validate="required:请输入6-20位字母、数字或者下划线"></div>
                 </div>
                 <div class="form-group">
                     <div class="label"><tt>*</tt> 确认密码</div>
                     <div class="field"><input name="password2" id="password2" type="password" class="input" data-validate="required:请输入6-20位字母、数字或者下划线"></div>
                 </div>
                 <div class="form-group">
                    <div class="label"><tt>*</tt> 性别 </div>
                    <div class="field">
                      <div class="button-group radio">
                        <label class="button active"><input name="gender" value="male" checked="checked" type="radio"><span class="icon icon-check"></span> 男</label>
                        <label class="button"><input name="gender" value="female" type="radio"><span class="icon icon-check"></span> 女</label>
                      </div>
                    </div>
                 </div>

                 <div class="form-button">
                  <button class="button bg-blue" type="submit">立即注册</button>
                 </div>
              </form>

    	</div>
    </div>
</div>
{% end %}
